<div class="row">
  <div class="col-md-4 mb-4 mb-md-0">
    <div class="form-group">
      <label for="name">First Name</label
      ><input id="name" #name type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label
      ><input id="lname" #lname type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="contact">Contact</label
      ><input id="contact" #contact type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email">Email</label
      ><input id="email" #email type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="address">Address</label
      ><input id="address" #address type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="grade">Grade</label
      ><input id="grade" #grade type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="age">Age</label
      ><input id="age" #age type="text" class="form-control" />
    </div>
    <button (click)="onStdAdd()" class="btn btn-sm btn-info btn-block">
      Add Student
    </button>
  </div>
  <div class="col-md-8">
    <table *ngIf="stdArr.length > 0; else noStd" class="table table-bordered">
      <thead>
        <tr>
          <th>Sr no</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Address</th>
          <th>Grade</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of stdArr; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ std.name }}</td>
          <td>{{ std.lname }}</td>
          <td>{{ std.contact }}</td>
          <td>{{ std.email }}</td>
          <td>{{ std.address }}</td>
          <td>{{ std.grade }}</td>
          <td>{{ std.age }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noStd>
      <p class="alert alert-danger">No data available to show</p>
    </ng-template>
  </div>
</div>
